.navbar {
    background-color: #FDF5ED;
    height: 100px;
}

.nav-link {
    color: black;
}

.hero {
    background-image: url('banner-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

.logo-img {
    max-height: 300px
}
.hero-text {
    font-size: 24px;
    color: #F3775E;
    font-weight: bold;
}

.story-img-ctn {
    background-image: url(peggy_sue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story-text {
    background-color: #7FC4D4;
}

.story-text h2 {
    color: white;
    border-bottom: 2px solid white;
}
.story-text p {
    color: white;
}
.story-text span {
    color: white;
}

.books-ctn {
    background-color: rgb(252, 249, 241);
}

.books-title {
    color: rgb(243, 119, 94);
}

.books-ctn .banner-btn {
    color: rgb(243, 119, 94);
    font-weight: 600;
    border-width: 2px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.footer {
    background-color: rgb(127, 196, 212);
}
.footer img {
    max-height: 123px;
}

.footer p {
    color: White;
    font-size: 12px;
}
